/** {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}
h1::first-letter {
    color: red;
    font-size: 60px;
}
h1 {
    text-decoration:underline;
    text-decoration-color: white;
}
.photo_section {
    display: flex;
    align-items: center;
}
div {
    margin: 20px;
}
h2 {
    position: relative;
}
h2:hover::before {
    background-color: rgb(0, 255, 0);
}
h2::before {
    content: '';
    position: absolute;
    topmargin-top: 0;
    height: 3px;
    width:100%;
    background-color: white;
}
h2::first-letter {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-weight: 800;
    font-size: 55px;
}

/*<!DOCTYPE html>
<html>
    <head>
        <title>Madhan</title>
        <link rel="stylesheet" href="practise.css">
    </head>
    <body>
        <header><h1 style="font-family:monospace;">Main Anime characters</h1></header>
        <main>
            <section class="photo_section">
                <img src="https://rukminim1.flixcart.com/image/416/416/kvfkivk0/poster/w/a/y/medium-eren-attack-on-titan-eren-jaeger-eren-yeager-shingeki-no-original-imag8c3fpyus38az.jpeg?q=70" alt="Eren Yeager">
                <div>
                    <h2>Eren Yeager</h2>
                    <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem animi alias, molestias dolorem nostrum ipsum nam enim assumenda sint illum. Facere, nobis at. Accusantium ipsam, sit voluptas officia quaerat ducimus.</p>
                </div>
            </section>
        </main>
        <script src="practise.js"></script>
    </body>
</html>

.mouse {
    background-color: black;
    border-radius: 60%;
}
*/





/* CSS FOR HOVERING EFFECT USING TRANSFORM */



/*
* {
    padding: 0px;
    margin: 0px;
}
div {
    background-color: rgb(66, 123, 171);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1000ms;
    position: absolute;
    transform: skew(30deg, 20deg);
    margin-bottom: 200px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/wp8103002.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
}
div:nth-child(1){
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: url("https://besthqwallpapers.com/Uploads/22-12-2019/117056/colorful-abstract-background-brown-pink-abstraction-etro-backgrounds-retro-abstraction-vector-backgrounds.jpg");
    margin-top: 100px;
}
div:nth-child(2){
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-flat-groovy-psychedelic-background_23-2149074391.jpg?w=2000");
    margin-top: 200px;
}
div:nth-child(3){
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: url("https://rare-gallery.com/mocahbig/80415-artist-artwork-digital-art-hd-4k.jpg");
    margin-top: 300px;
}
div:nth-child(4){
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: url("https://free4kwallpapers.com/uploads/originals/2022/04/20/rubiks-cube-digital-art-wallpaper.jpg");
    margin-top: 400px;
}
div:hover {

    transform: translate(10px 10px);
    width: 60%;
    height: 60%;
    transform: none;
    border: 5px solid red;
    z-index: 1;
}
*/
*{
    padding: 0px;
    margin: 0px;
}
div {
    background-color: rgb(37, 157, 255);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    font-weight: 600;
    color: white;
}